/* === Content Block === */
$contentBlockBorderColor: #c8c7cc;
$contentBlockColor: #6d6d72;
$contentBlockTitle: $contentBlockColor;
.content-block {
    margin: 0.75rem 0;
    padding: 0 0.75rem;
    color: $contentBlockTitle;

}