/* === Modals === */
.modal-overlay, .preloader-indicator-overlay, .popup-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    z-index: 10600;
    visibility: hidden;
    opacity: 0;
    transition-duration: $modal-duration;
    &.modal-overlay-visible {
        visibility: visible;
        opacity: 1;
    }
}

.popup-overlay {
    z-index: 10200;
}
.modal {
    width: 14rem;
    position: absolute;
    z-index: 11000;
    left: 50%;
    margin-left: -6.75rem;
    margin-top: 0;
    top: 50%;
    text-align: center;
    border-radius: $modal-border-radius;
    opacity: 0;
    transform: translate3d(0,0,0) scale(1.185);
    transition-property: transform, opacity;
    color: $color-text;
    background: $modal-bg-color;
    display: none;
    &.modal-in {
        opacity: 1;
        transition-duration: $modal-duration;
        transform: translate3d(0,0,0) scale(1);
    }
    &.modal-out {
        opacity: 0;
        z-index: 11000-1;
        transition-duration: $modal-duration;
        transform: translate3d(0,0,0) scale(0.815);
    }
}
.modal-header{
    padding: 0.75rem 1rem 0;
    position: relative;
}
.modal-inner {
    padding: 0.75rem;
    // @include hairline(bottom, #b5b5b5);
    border-radius: 0.35rem 0.35rem 0 0;
    position: relative;
}
.modal-close{
    position: absolute;
    top: 0.2rem;
    right: 0.35rem;
    font-size: 0.7rem;
    color: $modal-close-color;
    &:hover{
        color: $color-primary;
    }
}
.modal-title {
    font-weight: 500;
    font-size: 0.75rem;
    text-align: center;
    color: $color-primary;
}
.modal-text {
    font-size: 0.6rem;
    line-height: 2.5;
}
.modal-buttons {
    height: 2.2rem;
    padding: 0.35rem 0 0.7rem 0;
    box-sizing: content-box;
    overflow: hidden;
    @include flexbox;
    @include justify-content(center);
    &.modal-buttons-vertical {
        display: block;
        height: auto;
    }
}
.modal-button {
    width: 70%;
    padding: 0 0.25rem;
    height: 2.1rem;
    font-size: 0.75rem;
    line-height: 2.1rem;
    text-align: center;
    color: $modal-buton-bg;
    background: $modal-buton-color;
    display: block;
    position: relative;
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
    cursor: pointer;
    box-sizing: border-box;
    @include hairline(right, #b5b5b5);
    -webkit-box-flex:1;
    -ms-flex:1;
    &:first-child {
        border-radius: 0 0 0 0.35rem;
    }
    &:last-child {
        @include hairline-remove(right);
        border-radius: 0 0 0.35rem 0;
    }
    &:first-child:last-child {
        border-radius: 0.35rem;
    }
    &.modal-button-bold {
        font-weight: 600;
    }
    html:not(.watch-active-state) &:active, &.active-state {
        background: $modal-buton-active-bg;
    }
    .modal-buttons-vertical & {
        @include hairline-remove(right);
        @include hairline-remove(top);
        @include hairline(bottom, #b5b5b5);
        border-radius: 0;
        &:last-child {
            border-radius: 0 0 0.35rem 0.35rem;
            @include hairline-remove(bottom);
        }
    }
}
.modal-no-buttons {
    .modal-inner {
        border-radius: 0.35rem;
        @include hairline-remove(bottom);
    }
    .modal-buttons {
        display: none;
    }
}

// Popup
.popup, .login-screen {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10400;
    color: $color-text;
    background-color: $popup-bg-color;
    box-sizing: border-box;
    display: none;
    @include scrollable;
    transition-property: transform;
    transform: translate3d(0,100%,0);
    &.popup-call{
        background-image: linear-gradient(to bottom, $popup-gradient-color-top, $popup-gradient-color-bottom);
    }
    &.modal-in, &.modal-out {
        transition-duration: $popup-duration;
    }
    &.modal-in {
        transform: translate3d( 0,0,0);
    }
    &.modal-out {
        transform: translate3d( 0,100%,0);
    }
}
.login-screen.modal-in, .login-screen.modal-out {
    display: block;
}

html.with-statusbar-overlay {
    // iPhone with statusbar overlay
    .popup {
        height: "-webkit-calc(100% - 1rem)";
        height: "calc(100% - 1rem)";
        top: 1rem;
    }
    .popup-overlay {
        z-index: 9800;
    }
    @media all and (max-width:629px), (max-height:629px) {
        .popup {
            height: "-webkit-calc(100% - 1rem)";
            height: "calc(100% - 1rem)";
            top: 1rem;
        }
        .popup-overlay {
            z-index: 9800;
        }
    }
    .login-screen, .popup.tablet-fullscreen {
        height: "-webkit-calc(100% - 1rem)";
        height: "calc(100% - 1rem)";
        top: 1rem;
    }
}

// Actions
.actions-modal {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 11000;
    width: 100%;
    transform: translate3d(0,100%,0);
    background: $actions-modal-bg-color;
    border-radius: $actions-modal-border-radius;
    min-height: 2rem;
    &.modal-in {
        transition-duration: $actions-modal-duration;
        transform: translate3d(0,0,0);
    }
    &.modal-out {
        z-index: 11000-1;
        transition-duration: $actions-modal-duration;
        transform: translate3d(0,100%,0);
    }
    .modal-header{
        padding: 0.35rem;
        margin-bottom: 0.5rem;
    }
    .modal-title{
        font-size: 0.75rem;
        color: $actions-modal-title-color;
    }
    .modal-close{
        right: 0.6rem;
    }
}
.actions-modal-group {
    padding: 0.4rem;
}
.actions-button-cancel{
    color: $color-text-gray !important;
    position: relative;
    @include hairline(top, $actions-modal-color-split);
}
//toast
.toast {
  background: rgba(0, 0, 0, .8);
  border-radius: 1rem;
  color: white;
  padding: 0 .8rem;
  height: 2rem;
  line-height: 2rem;
  font-size: 0.8rem;
  width: auto;
}
