/* === Cards === */
.box-cards {
    margin: 0.7rem 0;
    @include row;
}

.cards-header{
    @include spindle-center(space-between);
    color: $color-text;
    font-size: 0.6rem;

    .refresh{
        color: $color-primary;
    }

    &.video-header {
        font-size: 0.75rem;
        font-weight: 600;

        .refresh{
            color: $color-text-gray-light;
            font-size: 0.6rem;
            font-weight: 400;
        }
    }
}

.card {
    box-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.3);
    margin: 0.35rem 0;
    position: relative;
    border-radius: 0.1rem;
    overflow: hidden;
    background: $card-bg;

    .row:not(.no-gutter) .col > & {
        margin-left: 0;
        margin-right: 0;
    }

}

.card-content {
    position: relative;
    display: block;

    .media {
        position: absolute;
        width: 100%;
        top: 0;
        bottom: 0;
        z-index: 1;
        @include ImageBox(place-chart);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

    }

    .showdom {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        color: $color-text;
        font-size: 0.5rem;
        background: rgba(51, 51, 51, 0.04);
        height: 1.5rem;
        z-index: 2;
    }

}

.card-foot {
    width: 100%;
    height: 3.15rem;
    background: $card-bg;
    padding: 0.35rem;
    display: flex;
    justify-content: start;
    align-items: center;

    .user-img {
        width: 1.8rem;
        height: 1.8rem;
        border-radius: 1.8rem;
        border: 1px solid $card-border-color;
        margin-right: 0.35rem;
        overflow: hidden;
        flex: 0 0 1.8rem;

        >img {
            width: auto;
            height: 100%;
        }

    }

    .foot-info {
        flex: 2 0 0;
        overflow: hidden;

        .name {
            color: $color-primary;
            font-size: 0.598rem;
            line-height: 1.5;
            white-space: nowrap;
            margin: 0;
        }

        .txt {
            color: $color-text-secondary;
            font-size: 0.45rem;
        }

    }

}

span.tag-label {
    margin: 0 0.35rem;

    &:before {
        content: "";        /* style */
        background: $color-primary;
        width: 0.35rem;
        height: 0.35rem;
        display: inline-block;
        border-radius: 100%;
        margin-right: 0.2rem;
    }

    $names: busy, waiting, praise, eye;

    @each $name in $names {
        &.#{$name}:before {
            content: "";
            width: 0.7rem;
            height: 0.7rem;
            vertical-align: middle;
            background-color: transparent;
            background-size: 100% auto;
            background-position: center;
            background-repeat: no-repeat;
            -webkit-font-smoothing: antialiased;
            -webkit-text-stroke-width: 0.2px;
            -moz-osx-font-smoothing: grayscale;
            @include iconImage($name, 'icon');
        }

    }

}

.card-list {
    .card-content {
        width: 100%;
        overflow: hidden;

        //需要触发BFC消除margin折叠的问题

        &:after {
            content: '';
            display: block;
            margin-top: 100%;
            //margin 百分比相对父元素宽度计算
        }

        .showdom {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .busy {
            color: $color-text-active;
        }

    }

}

.card-video {
    .card-content {
        width: 100%;
        height: 11.2rem;

        .showdom {
            top: auto;
            bottom: 0;
            height: 3.5rem;
            padding: 0.35rem;
        }

        .summary-txt {
            font-size: 0.525rem;
            color: $color-text;
            padding-right: 0.35rem;
            line-height: 2;
            margin: 0.35rem 0 0.4rem 0;
        }

    }

    .video-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 0.4rem;
        padding-right: 0.35rem;
    }

    .user-info {
        display: flex;
        width: 3.5rem;
        margin-right: 0.2rem;

        .user-img {
            width: 1rem;
            height: 1rem;
            border-radius: 1rem;
            border: 1px solid $card-border-color;
            margin-right: 0.35rem;
            overflow: hidden;
            flex: 0 0 1rem;

            >img {
                width: auto;
                height: 100%;
            }

        }

        .user-name {
            line-height: 1rem;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: keep-all;
            white-space: nowrap;
        }

    }

    .user-follow {
        display: flex;
        justify-content: space-around;
        align-items: center;

        span.tag-label {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            margin: 0;
            padding: 0 0.1rem;

            &:before {
                width: 0.5rem;
                height: 0.5rem;
            }

        }

    }

}

.card-avatar {
    padding: 0.7rem 0.35rem 0.35rem;

    .user-info{
        @include flex-spindle-center(center, column);

        >.user-img{
            @include size(2.1rem);

            +.user-name{
                font-size: 0.6rem;
                color: $color-primary;

                +.user-txt{
                    font-size: 0.45rem;
                    color: $color-text-secondary;
                }
            }
        }
    }

    .btn-user-add{
        width: 2.45rem;
        height: 1.05rem;
        margin-top: 0.35rem;
    }
}