// DateTimePicker
// --------------------------------------------------
.picker {
    font-size: 0.7rem;
    line-height: 1.05rem;
    overflow: hidden;
    display: none;
    user-select: none;
    touch-action: none;
    transition: opacity .15s ease;
    color: $picker-text-color;
    direction: ltr;
}

.picker-open {
    display: block;
    opacity: 0;
}

.picker-opened {
    opacity: 1;

    > .picker-content {
        bottom: 0;
    }

}

.picker-header {
    display: none;
}

.picker-body {
    overflow: hidden;
}

.picker-grid {
    display: table;
    width: 100%;
    margin-top: -2.5rem;
    margin-bottom: -2.5rem;
}

.picker-cell {
    position: relative;
    display: table-cell;
    &:first-of-type{
        .picker-picked{
            position: relative;

            &:before {
                content: "";
                background-color: $color-primary;
                width: 2px;
                position: absolute;
                left: 0;
                height: 1rem;
            }
        }
    }
}

.picker-list {
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 0;
    list-style: none;
}

.picker-item {
    padding: .4rem;
    text-align: center;
    white-space: nowrap;
    color: $picker-text-color;
}

.picker-picked {
    font-size: 0.8rem;
    color: $picker-text-color-active;
}

.picker-footer {
    display: none;
}
