/* === Forms === */
// Inputs
input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="date"],
input[type="datetime-local"],
input[type="time"],
input[type="number"],
select,
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    box-sizing: border-box;
    border: none;
    background-color: $input-bg;
    border-radius: 0 0 0 0;
    box-shadow: none;
}

input[type="date"],
input[type="datetime-local"] {
    line-height: 2.2rem;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
}

textarea {
    resize: none;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0 $padding-base-horizontal;
    margin: 0;
    width: 100%;
    height: $input-height-base;
    color: $input-color;
    font-size: $font-size-base;
    font-family: inherit;
    line-height: $line-height-base;
    @include transition("border-color ease-in-out .15s");

    &.country{
        line-height: 1.5rem;
        text-align: right;
    }
}

// Form groups
.form-group {
    @include spindle-center(start);
    margin-bottom: $form-group-margin-bottom;
    border-bottom: $input-border;

    .form-label {
        flex: 1 0 3.5rem;
        color: $input-label-color;
        font-size: $font-size-base;
        @include newline;
    }

    .icon {
        @include size(0.7rem);
        flex: 1 0 0.7rem;

        &.mete {
            width: 0.35rem;
            flex: 1 0 0.35rem;
        }
    }
    &.active{
        border-color: $color-text;
    }
}

// Form Button
.form-button {
    border: none;
    font-weight: 600;
    margin-bottom: 0.35rem;
}

// Form Section
.form-section{
    @include spindle-center(space-between);
    color: $color-primary;
    font-size: 0.6rem;

    .section-link {
        margin: 0;
        padding: 0 0.35rem;
        line-height: 1.5;
    }
}