//Style
//--------------------------------

// User name and avatar
//--------------------------------
@mixin avatar-image($image) {
	background-position: 0 0;
	background-size: 100%;
    background-image: url('#{$imgBaseUrl}/users/avatar-#{$image}.png');
    background: image-set(url('#{$imgBaseUrl}/users/avatar-#{$image}.png') 1x, url('#{$imgBaseUrl}/users/avatar-#{$image}@2x.png') 2x) center;
}
.user-info {
	@include flex-spindle(center);
	// @include flex-vertical(column);

	>.user-img {
		border-radius: 50%;
		vertical-align: middle;
		border: 1px solid $color-text;
		@include size(1rem);

		+.user-name {
			font-size: 0.75rem;
			color: $color-text;
			line-height: 1.5;
		}
	}

	&.across {
		justify-content: space-between;
	    flex-direction: initial;
	    align-items: center;

		>.user-img {
			@include size(1.4rem);
		    float: left;
		    margin-right: 0.35rem;
		}
		.across-body{
			width: 3.3rem;
		}
		.user-name{
			font-size: 0.6rem;
			color: $color-text;
			@include wrap-space;
		}
		.user-txt{
			font-size: 0.45rem;
			color: $color-text;
			@include wrap-space;
		}
	}

}

.avatar-female{
    @include avatar-image(female);
}

.avatar-male{
	@include avatar-image(male);
}

// popup-box
//--------------------------------
.popup-box {
	text-align: center;
	@include flex-spindle(center);
	@include flex-vertical(column);

	.popup-header {
		padding: 2rem 0 1rem;
	}

	.popup-content{
		padding: 3rem 0;
		>p {
			text-align: center;
			font-size: 0.75rem;
			color: $color-text;
			margin-bottom: 1.4rem;
		}
	}

	.calling-box {
		text-align: center;
		border: 0.2rem solid $color-text;
		@include size(8.4rem);
		border-radius: 50%;
		line-height:  7rem;
		font-size: 0.6rem;
		color: $color-text;
		position: relative;
	    margin: 0 auto;

		&:after {
		    content: "";
		    border: 0.2rem solid rgba(255, 255, 255, 0.15);
		    @include size(8.4rem);
		    display: flex;
		    position: absolute;
		    top: -0.4rem;
		    left: -0.4rem;
		    border-radius: 50%;
		}

		.calling-sprite {
			@include size(8.6rem);
			position: absolute;
		    top: 0;
		    left: -0.6rem;
		}
	}

	.user-img {
		width: 4.9rem !important;
		height: 4.9rem !important;
		margin: 0 auto 0.35rem;

		+.user-name {
			font-size: 0.75rem;

			>i.icon {
				@include size(0.7rem);
				margin-left: 0.35rem;
				vertical-align: text-top;
			}

		}

	}

	.anchor-score{
		@include flex-spindle(space-around);
		margin-top: 0.35rem;

		.score-item{
			text-align: center;

			>h3{
				font-weight: 600;
				font-size: 1.05rem;
				color: $color-text;
				margin: 0.35rem 0;
				small{
					font-size: 0.5rem;
				}
			}

			>p{
				font-size: 0.5rem;
				color: $color-text-gray-light;
			}
		}
	}

	>.buttons{
		margin: 0.35rem 0;
		&.buttons-block,
		&.buttons-vertical{
			>.button{
				width: 10.5rem;
			}
		}
		.button{
			width: 5.6rem;
		}
	}

	&.live-end{
		.popup-header{
			padding: 1.05rem 0;
			color: $color-text;
			background-image: linear-gradient(to right, $popup-gradient-color-top, $popup-gradient-color-bottom);
		}

		p.header-title{
			font-size: 0.85rem;
			margin-bottom: 2.1rem;
		}
		p.header-txt{
			font-size: 0.5rem;
		    margin: 0.5rem 0 0;
		    line-height: 2;
		}
		.stars{
			width: 12rem;
			margin: 0 auto 2rem;
		}
		.score-box{
			padding: 1rem 0;

			>p {
				font-size: 0.5rem;
				color: $color-text-gray-light;
			    margin-bottom: 0.35rem;
			    min-width: 13rem;
			    display: inline-block;
			    position: relative;

			    $starts: after, before;
			    @each $start in $starts {
				    &:#{$start}{
				    	content: "";
			    	    height: 1px;
			    	    width: 2.1rem;
			    	    display: block;
			    	    background: $color-text-gray-light;
			    	    position: absolute;
			    	    top: 0.35rem;

				        @if $start == after {
				            left: 0;
				        }
				        @else {
				        	right: 0;
				        }

				    }

				}
			}
		}
		.user-img{
			width: 3.85rem !important;
			height: 3.85rem !important;

			+.user-name{
				color: $color-primary;
				font-size: 0.6rem;
				font-weight: 600;
			}
		}
	}

}

// gift label
//--------------------------------
.score-gift{
	.item{
		@include flex-center;
	    margin: 0.35rem 1.3rem;

		>span{
			display: inline-block;
		}
	}
	.item-img{
		width: 4.55rem;
		height: 4.2rem;
		padding: 1.05rem;
	}
	.item-amount{
		color: $color-primary;
		font-size: 0.6rem;
	    font-weight: 500;
	}
}

.gift-group{
	position: relative;
	padding: 0.35rem 0.5rem;
	@include hairline(top, $actions-modal-color-split);
	@include flex-spindle(space-between);

	.button{
		margin: 0;
		line-height: 1.4rem;
		height: 1.4rem;
		font-size: 0.6rem;
		padding: 0 0.7rem;
	}

	.recharge-box{
		color: $color-gift-txt;
		font-size: 0.5rem;
		@include spindle-center(start);

		>.button{
			border-radius: $btn-fill-border-radius;
			margin-right: 0.35rem;
		}

		span{
			color: $color-text-gray-light;
		}
	}
}

// Recharge box
//--------------------------------
.recharge-group{
	>p.recharge-label{
		margin: 0.35rem 0.7rem;
		@include spindle-center(space-between);

		span{
			color: $color-text-gray-light;
			font-size: 0.7rem;

			&.money{
				color: $color-gift-txt;
			}
		}
	}

	>p.amount-label{
		margin: 0.35rem 3.15rem;
		color: $color-text-gray;
		font-size: 0.7rem;

		span{
			color: $color-gift-txt;
		}
	}

	>.tag{
	    position: relative;
		@include hairline(bottom, $actions-modal-color-split);
		padding: 0.35rem 0;
	}

	>.button{
		width: 10rem;
	    margin: 0.7rem auto 0.25rem;
	}

	>.buttons{
		width: 80%;
	    margin: 1rem auto 0;

		.button{
			width: 5.5rem;
		}
	}
}

.share-group{
	margin: 0.4rem 0 0.8rem;
}

.news-group{
	@include spindle-center(start);

	.news-input {
	    flex-grow: 1;
	    border-color: $color-text;
	}

	.news-phiz{
		margin-left: 0.35rem;
		flex-grow: 0;

		>i.icon{
			@include size(1.05rem);
		}
	}

	>.button{
		height: 1.4rem;
		line-height: 1.4rem;
		font-size: 0.6rem;
		margin: 0 0.35rem;
		flex-grow: 0;
	}
}

// lives-wrapper/record-wrapper
//--------------------------------
.lives-wrapper{
	overflow: hidden;
}
.record-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10400;
    color: $color-text;
    background-color: $color-bg;
    box-sizing: border-box;
    @include scrollable;
    transition-property: transform;
    transform: translate3d(0,100%,0);
    &.record-in, &.record-out {
        transition-duration: $live-duration;
    }
    &.record-in {
        transform: translate3d(0, 0, 0);
    }
    &.record-out {
        transform: translate3d(0, 100%, 0);
    }
}
.record-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    z-index: 10200;
    visibility: hidden;
    opacity: 0;
    transition-duration: $live-duration;
    &.record-overlay-visible {
        visibility: visible;
        opacity: 1;
    }
}
.lives-video{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	>.video{
		width: 100%;
		height: 100%;
		background: $live-mask-bg-color;
	}

	&.lives-video-us{
		top: auto;
		left: auto;
		right: 0.75rem;
		bottom: 1.05rem;
		width: 4.9rem;
		height: 7rem;

		video.video{
			background: $color-primary;
		}
	}
}
.lives-header{
	@include  spindle-center(space-between);
	position: absolute;
	top: 0.75rem;
	left: 0.75rem;
	right: 0.75rem;

	>.icon{
		@include size(1.05rem);
	}
}
.lives-attention{
	background: $live-mask-bg-color;
	padding: 0.35rem;
	width: 7.5rem;
	height: 2.1rem;
	border-radius: 1rem;
	@include  spindle-center(space-between);

	>i.icon{
		@include size(1.45rem);
	}
}
.lives-buttons{
	@include  spindle-center(space-between);
	position: absolute;
	bottom: 0.75rem;
	left: 0.75rem;
	width: 10rem;

	>.icon{
		@include size(2.1rem);
	}

	.btn-record{
		@include size(3.85rem);
		border-radius: 50%;
		background: $live-btnRecord-bg-color;
		position: relative;

		&:after {
		    content: "";
		    background: $live-btnRecord-color;
		    @include size(2.45rem);
		    display: block;
		    border-radius: 50%;
		    margin: 0.7rem auto;
		    position: absolute;
		    top: 0;
		    left: 50%;
		    margin-left: -1.225rem;
		}
	}

	&.record-buttons{
		bottom: 3.15rem;
		left: auto;
		right: 2.1rem;
	    width: 9.1rem;
	}

	&.record-start{
		.btn-record:after {
		    content: "";
		    background: $live-btnRecordEnd-color;
		    @include size(1.4rem);
		    border-radius: 0.1rem;
		    margin: 1.23rem auto;
		    margin-left: -0.7rem;
		}
	}

	&.active{
		left: 2.1rem;
		width: auto;
	}
}
.lives-comments{
	position: absolute;
	left: 0.75rem;
	bottom: 4.5rem;
	width: 10rem;
	max-height: 12rem;
	overflow: hidden;
	@include  flex-vertical(column);

	>label{
		background: $live-mask-bg-color;
		padding: 0.35rem 0.5rem;
		color: $color-text;
		font-size: 0.5rem;
		line-height: 1.5;
		margin: 0.35rem 0;
		border-radius: 0.75rem;

		span{
			color: $color-primary;
		}

		&.anchor span{
			color: $live-anchor-txt-color;
		}
	}
}

// upload-wrapper
// ------------------------------
.upload-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0.35rem 0.7rem;
    height: 3.5rem;
    z-index: 10400;
    color: $color-text;
    border-radius: 0 0 0.2rem 0.2rem;
    background-color: $live-upload-bg-color;
    box-sizing: border-box;
    @include scrollable;
    @include flex-center;
    transition-property: transform;
    transform: translate3d(0, -3.5rem, 0);
    &.upload-in, &.upload-out {
        transition-duration: $live-upload-duration;
    }
    &.upload-in {
        transform: translate3d(0, 0, 0);
    }
    &.upload-out {
        transform: translate3d(0, -3.5rem, 0);
    }
}
.upload-img {
	@include size(2.45rem);
	border-radius: 0.1rem;
	flex: 0 0 2.45rem;
}
.upload-title {
	color: $color-text;
	font-size: 0.6rem;
	flex: 1 0 0;
    padding: 0 0.7rem;
}
.upload-progress{
	@include size(1.5rem);
	flex: 0 0 1.5rem;
}

// login-wrapper
// ------------------------------
.login-wrapper{
	overflow: hidden;
}

.login-content{
	padding: 2.45rem;

	.login-title{
		font-size: 1.5rem;
		color: $color-text;
	    margin: 0 0 1rem 0;
	}
}

.login-footer{
	text-align: center;
    margin-top: 0.35rem;

	>p {
		font-size: 0.6rem;
		color: $color-text-gray-light;
	    margin-bottom: 1.75rem;
	    min-width: 7.5rem;
	    display: inline-block;
	    position: relative;

	    $starts: after, before;
	    @each $start in $starts {
		    &:#{$start}{
		    	content: "";
	    	    height: 1px;
	    	    width: 2.1rem;
	    	    display: block;
	    	    background: $color-text-gray-light;
	    	    position: absolute;
	    	    top: 0.4rem;

		        @if $start == after {
		            left: 0;
		        }
		        @else {
		        	right: 0;
		        }

		    }

		}
	}
}

// LIVE_INFORMATION
//------------------------------
.live-upload-wrapper {
	padding: 0 1.2rem;

	.buttons {
		margin: 7rem 2.5rem 0;
	}
}
.live-upload-progress {
	@include spindle-center(space-around);
	position: relative;
	margin: 0.35rem 0.7rem 0;

	&:before {
	    content: "";
	    position: absolute;
	    top: 0.5rem;
	    background: $color-text-gray-light;
	    width: 100%;
	    height: 0.1rem;
	    z-index: -1;
	}

	.progress-items {
		@include spindle-vertical(column);
		font-size: 0.5rem;

		&.active {
			.items-icons {
				color: $color-text-gray;
				background-color: $color-primary;
				border-color: transparentize($color-primary, 0.6);
			}
		}
	}
	.items-icons-box{
		width: 2rem;
		background: $color-split;
	}
	.items-icons {
		@include size(0.7rem);
		color: $color-text;
		background: $color-gray;
	    background-clip: content-box;
		border: 0.2rem solid transparentize($color-gray, 0.6);
		border-radius: 50%;
		display: block;
		box-sizing: content-box;
		text-align: center;
		line-height: 0.7rem;
		margin: 0 auto;
	}
	.items-txt {
		color: $color-text-gray-light;
	}
}
.upload-content {
	@include spindle-center(space-between);
	margin: 2rem 0;

	.upload-items {
		@include size(7rem);
		border-radius: 0.1rem;
		border: 0.05rem solid $color-text-gray-light;
		text-align: center;
	    padding-top: 1.3rem;

		>.icon {
			@include size(3.15rem);
		}
		>.title {
			color: $color-text;
			font-size: 0.6rem;
		    line-height: 1.5rem;
			margin: 0;
		}
	}
}
.remarks-box{
	p.remarks-txt{
		color: $color-text-remarks;
		font-size: 0.35rem;
		line-height: 1.5;
	    margin: 0.6rem 0;

		&:before {
			content: "";
			@include size(0.35rem);
			background: $color-primary;
			border-radius: 50%;
			display: inline-block;
			margin-right: 0.35rem;
		}
	}
}