// tag
// ----------------------------------
//
.gift-wrapper{
	overflow: hidden;
    height: 8.8rem;
	.gift-content{
		justify-content: start;
	}
}

.tag {
	@include flex-center;
	@include flex-werp(wrap);

	&.tag-avatar {
		@include flex-werp(nowrap);
		overflow-y: auto;
		justify-content: start;
		margin: auto -0.75rem;
	}
	&.tag-share{
		@include flex-spindle(space-around);
	}
	label.tag-label {
		background: $tag-bg-color;
		border-radius: $tag-border-radius;
		border: $tag-border-default;
		font-size: 0.6rem;
		color: $tag-txt-color;
		min-width: 2.5rem;
		padding: 0 0.6rem;
		margin: 0.25rem;
		text-align: center;
		line-height: 1.3rem;

		>span {
			margin-right: 0.25rem;
			color: $color-primary;
		}

		&.active {
			background: $tag-bg-color-active;
			border-color: $tag-bg-color-active;

			>span {
				color: $tag-txt-color;
			}

		}
	}
	label.gift-label {
		@include size(4.2rem);
		border: 1px solid transparent;
		text-align: center;
		padding: 0.35rem 0;

		>p {
			font-size: 0.5rem;
			color: $color-text-gray-light;
		}

		>i.icon{
			width: 2rem;
			height: 2rem;
		}

		.name{
			color: $color-text-gray;
		}

		&.active {
			border-color: $color-primary;;
		}
	}
	label.recharge-label {
		background: none;
		border-radius: 3rem;
		border: $tag-recharge-border-default;
		font-size: 0.5rem;
		color: $color-text-gray-light;
		width: 5.25rem;
		padding: 0.2rem;
		margin: 0.35rem;
		text-align: center;

		>p{
			line-height: 1;
		}

		.cost{
			font-size: 0.7rem;
		    line-height: 1.5;
			color: $color-text-gray;
		}
		&.active{
			background: $color-primary;
			border-color: $color-primary;
		}
	}
	label.share-label {
		margin: 0 1.2rem;
		@include flex-spindle-center(space-around, column);

		i.icon{
			@include size(3.15rem);
		    border-radius: 50%;
		}

		span{
			color: $color-text-gray-light;
			font-size: 0.6rem;
			margin-top: 0.35rem;
		}
	}
	label.user-info {
		@include flex-spindle-center(center, column);
		padding: 0 0.5rem;

		&:first-child{
			padding-left: 0.75rem;
		}

		&:last-child{
			padding-right: 0.75rem;
		}

		.user-img{
			@include size(3.15rem);
		}

		.user-name{
			font-size: 0.5rem;
			line-height: 1.35rem;
		}
	}
	.tag-anchor {
		width: 3.15rem;
		height: 3.15rem;
		border: $tag-border-default;
		background: $tag-bg-color;
		margin: 0.2rem 0.5rem;
		border-radius: 50%;
		overflow: hidden;

		>img{
			width: 100%;
			height: 100%;
		}
	}

}
