<div class="page-group">
    <div class="page">
        <!-- 标题栏 -->
        <header class="bar bar-flex">
            <h1 class="title primary">{{BAR.Favorite}}</h1>
        </header>
        <!-- 这里是页面内容区 -->
        <div class="content block favorite-wrapper">
            <div class="favorite-content">
                {{if FollowList}}
                    <ul class="list list-user list-favorite" data-page="1">
                        {{each FollowList}}
                            <li>
                                <a href="#/details?userid={{$value.user_id}}" class="list-item" data-ripple>
                                    <span class="list-item-graphic image" style="{{if $value.user_head}} background-image: url({{$value.user_head}}); {{/if}}"></span>
                                    <span class="list-item-text">{{$value.user_name}}</span>
                                </a>
                                <span class="btn-follow" data-id="{{$value.user_id}}" data-ripple>{{FAVORITE.Follow}}</span>
                            </li>
                        {{/each}}
                    </ul>
                    <!-- /.list list-user -->
                {{/if}}
            </div>
            <div class="pulldown-wrapper">
                <div class="loading-down">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <!-- /.pulldown-wrapper -->
            <div class="pullup-wrapper">
                <div class="loading-down">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <!-- /.pullup-wrapper -->
        </div>
    </div>
</div>