<div class="page-group">
    <div class="page">
        <!-- 标题栏 -->
        <header class="bar bar-flex">
            <a class="icon-btn back" data-ripple>
                <i class="icon icon-arrow-back"></i>
            </a>
            <h1 class="title">{{PERSONAL_DETAIL.Title}}</h1>
        </header>
        <!-- 这里是页面内容区 -->
        <div class="content block">
            <ul class="list list-detail list-info">
                <li class="list-item user-avatar item-avatar" data-ripple>
                    <span class="list-item-text">{{PERSONAL_DETAIL.Profile_photo.Title}}</span>
                    <div class="list-item-graphic user-info">
                        <div class="user-img {{if UserDetail.user_sex == 1}} avatar-male {{else}} avatar-female {{/if}}" style="{{if UserDetail.user_head}} background-image: url({{UserDetail.user_head}}); {{/if}}">
                        </div>
                    </div>
                </li>
                <li class="list-item item-username" data-ripple>
                    <span class="list-item-text">{{PERSONAL_DETAIL.Username.Title}}</span>
                    <span class="list-item-meta-txt">{{UserDetail.user_name}}</span>
                    <span class="icon user-arrow-forward list-item-meta"></span>
                </li>
                <li class="list-item item-gender" data-ripple>
                    <span class="list-item-text">{{PERSONAL_DETAIL.Gender.Title}}</span>
                    <span class="list-item-meta-txt" data-sex="{{UserDetail.user_sex}}" >{{if UserDetail.user_sex == 1}} {{PERSONAL_DETAIL.Gender.Madal.Male}} {{else}} {{PERSONAL_DETAIL.Gender.Madal.Female}} {{/if}}</span>
                    <span class="icon user-arrow-forward list-item-meta"></span>
                </li>
                <li class="list-item item-age" data-ripple>
                    <span class="list-item-text">{{PERSONAL_DETAIL.Age.Title}}</span>
                    <span class="list-item-meta-txt">{{UserDetail.user_age}}</span>
                    <span class="icon user-arrow-forward list-item-meta"></span>
                </li>
                <li class="list-item item-height" data-ripple>
                    <span class="list-item-text">{{PERSONAL_DETAIL.Height.Title}}</span>
                    <span class="list-item-meta-txt">{{UserDetail.user_height}} {{PERSONAL_DETAIL.Height.Unit}}</span>
                    <span class="icon user-arrow-forward list-item-meta"></span>
                </li>
                <li class="list-item item-weight" data-ripple>
                    <span class="list-item-text">{{PERSONAL_DETAIL.Body_Weight.Title}}</span>
                    <span class="list-item-meta-txt">{{UserDetail.user_weight}} {{PERSONAL_DETAIL.Body_Weight.Unit}}</span>
                    <span class="icon user-arrow-forward list-item-meta"></span>
                </li>
            </ul>
            <!-- /.list list-detail -->
            <ul class="list list-detail list-info">
                <li class="list-item item-interest" data-ripple>
                    <span class="list-item-text">{{PERSONAL_DETAIL.Interest.Title}}</span>
                    <span class="icon user-arrow-forward list-item-meta"></span>
                </li>
                <li class="list-item item-type" data-ripple>
                    <span class="list-item-text">{{PERSONAL_DETAIL.Your_Type.Title}}</span>
                    <span class="icon user-arrow-forward list-item-meta"></span>
                </li>
                <li class="list-item item-love" data-ripple>
                    <span class="list-item-text">{{PERSONAL_DETAIL.Love.Title}}</span>
                    <span class="icon user-arrow-forward list-item-meta"></span>
                </li>
                <li class="list-item item-friends" data-ripple>
                    <span class="list-item-text">{{PERSONAL_DETAIL.Why_Make_Friends.Title}}</span>
                    <span class="list-item-meta-txt">{{UserDetail.make_friends_goal}}</span>
                    <span class="icon user-arrow-forward list-item-meta"></span>
                </li>
            </ul>
            <!-- /.list list-detail -->
        </div>
    </div>
</div>