<div class="page-group">
    <div class="page">
        <!-- 标题栏 -->
        <header class="bar bar-flex">
            <a class="icon-btn back" data-ripple>
                <i class="icon icon-arrow-back"></i>
            </a>
            <h1 class="title">{{USER_PRICE.Title}}</h1>
        </header>
        <!-- 这里是页面内容区 -->
        <div class="content block user-cover-wrapper">
            <div class="cover-header price-header">
                <div class="user-info">
                    <div class="user-img {{if UserInfo.user_sex == 1}} avatar-male {{else}} avatar-female {{/if}}">
                        {{if UserInfo.user_head}}
                            <img src="{{UserInfo.user_head}}">
                        {{/if}}
                    </div>
                </div>
                <!-- /.user-info -->

                <p class="user-current-price"><label>{{USER_PRICE.Current_Price}}</label> <span class="color-primary"> {{UserInfo.live_price}} </span> {{PUBLIC.Billing}}</p>
                <!-- /.user-current-price -->

                <div class="star-box">
                    <div class="star-label">
                        <span class="{{if UserInfo.live_level == 1}} active {{/if}}"><span>1</span></span>
                        <span class="{{if UserInfo.live_level == 2}} active {{/if}}"><span>2</span></span>
                        <span class="{{if UserInfo.live_level == 3}} active {{/if}}"><span>3</span></span>
                        <span class="{{if UserInfo.live_level == 4}} active {{/if}}"><span>4</span></span>
                        <span class="{{if UserInfo.live_level == 5}} active {{/if}}"><span>5</span></span>
                    </div>
                    <!-- /.star-label -->

                    <div class="star-content">
                        <span class="{{if UserInfo.live_level >= 2}} active {{/if}}"></span>
                        <span class="{{if UserInfo.live_level >= 3}} active {{/if}}"></span>
                        <span class="{{if UserInfo.live_level >= 4}} active {{/if}}"></span>
                        <span class="{{if UserInfo.live_level == 5}} active {{/if}}"></span>
                    </div>
                    <!-- /.star-content -->

                    <p class="star-text">{{if UserInfo.user_identity == 2}}{{USER_PRICE.Certified}}{{else}}{{USER_PRICE.Non_Certified}}{{/if}}</p>
                </div>
                <!-- /.star-box -->
            </div>
            <!-- /.cover-header price-headerr -->

            <div class="cover-content price-content">
                {{if UserInfo.user_identity == 2}}
                    <div class="price-remarks-header">
                        <p>{{USER_PRICE.Certified_Remarks.Title}}</p>
                    </div>
                    {{each USER_PRICE.Certified_Remarks.Content}}
                        <div class="price-remarks-box">
                            <p class="price-remarks-title">{{$value.Title}}</p>
                            <p class="price-remarks-txt">{{$value.Text}}</p>
                        </div>
                    {{/each}}
                {{else}}
                    <p class="price-not-remarks title-primary">{{USER_PRICE.Non_Certified_Remarks.Title}}</p>
                    {{each USER_PRICE.Non_Certified_Remarks.Content}}
                        <p class="price-not-remarks">{{$value}}</p>
                    {{/each}}
                    <a class="button button-primary" href="#/user/proof" data-ripple>{{USER_PRICE.Button}}</a>
                {{/if}}
            </div>
            <!-- /.cover-content price-content -->
        </div>
    </div>
</div>