<div class="page-group">
    <div class="page">
        <!-- 标题栏 -->
        <header class="bar bar-flex">
            <a class="icon-btn back" data-ripple>
                <i class="icon icon-arrow-back"></i>
            </a>
            <h1 class="title">{{BAR.History}}</h1>
        </header>
        <!-- 这里是页面内容区 -->
        <div class="content block">
            {{if HistoryList}}
                <div class="list list-history">
                    {{each HistoryList}}
                        <div class="list-item" data-status="{{$value.status}}" data-ripple>
                            <span class="icon user-paypal list-item-graphic"></span>
                            <span class="list-item-text">{{$value.blank_account}}
                                <span class="list-item-secondary">{{$value.create_time | dateFormat 'YYYY-MM-DD'}}
                                    {{if $value.status == 1}}
                                        <span class="list-item-status color-review">{{PUBLIC.Review}}</span>
                                    {{else if $value.status == 3}}
                                        <span class="list-item-status color-refuse">{{PUBLIC.Refuse}}</span>
                                    {{/if}}
                                </span>
                            </span>
                            <span class="list-item-meta-txt">{{$value.total_money}}</span>
                            <span class="icon {{if $value.status != 2 || $value.status != 4}} user-arrow-forward {{/if}} list-item-meta"></span>
                        </div>
                    {{/each}}
                </div>
            {{/if}}
        </div>
    </div>
</div>