<div class="page-group">
    <div class="page">
        <!-- 标题栏 -->
        <header class="bar bar-flex">
            <a class="icon-btn back" data-ripple>
                <i class="icon icon-arrow-back"></i>
            </a>
            <h1 class="title">{{USER_VIDEO.Title}}</h1>
        </header>
        <!-- 这里是页面内容区 -->
        <div class="content block">
            <div class="user-wrapper">
                <div class="row box-cards">
                    <div class="col-50 card card-video video-add-card">
                        <div class="card-content">
                            <div class="icon-box">
                                <i class="icon user-add-video"></i>
                            </div>
                            <p class="add-title">{{USER_VIDEO.Add_Title}}</p>
                            <p class="text">{{USER_VIDEO.Add_Text}}</p>
                        </div>
                    </div>

                    {{if MyVideo}}
                        {{each MyVideo}}
                            <div class="col-50 card card-video">
                                <div class="card-content" data-id="{{$value.id}}" data-url="{{$value.video_url}}">
                                    <div class="card-video-header">
                                        <span class="tag-label">10 {{PUBLIC.Billing}}</span>
                                        <span class="status-label review">{{PUBLIC.Review}}</span>
                                        <span class="status-label refuse">{{PUBLIC.Refuse}}</span>
                                        <span class="status-label free">{{PUBLIC.Free}}</span>
                                        <div class="btn-close-video">
                                            <i class="icon user-close-video"></i>
                                        </div>
                                    </div>
                                    <div class="media" style="background-image: url({{$value.video_img}});"></div>
                                    <div class="showdom">
                                        <p class="summary-txt">{{$value.video_title}}</p>
                                        <div class="video-info">
                                            <p class="video-time">{{$value.create_time}}</p>
                                            <div class="user-follow">
                                                <span class="tag-label praise">
                                                    {{if $value.support > 999}}
                                                        999+
                                                    {{else}}
                                                        {{$value.support}}
                                                    {{/if}}
                                                </span>
                                                <span class="tag-label eye">
                                                    {{if $value.watch_number > 999}}
                                                        999+
                                                    {{else}}
                                                        {{$value.watch_number}}
                                                    {{/if}}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    {{else}}
                        <p class="no-more">{{USER_VIDEO.No_More}}</p>
                    {{/if}}
                </div>
                <!-- /.box-cards -->
            </div>
        </div>
    </div>
</div>