<div class="page-group">
    <div class="page">
        <!-- 标题栏 -->
        <header class="bar bar-flex">
            <a class="icon-btn back" data-ripple>
                <i class="icon icon-arrow-back"></i>
            </a>
            <h1 class="title">{{USER_WATCH.Title}}</h1>
        </header>
        <!-- 这里是页面内容区 -->
        <div class="content block">
            <div class="user-wrapper">
                <div class="row box-cards">
                    {{if WatchHistory}}
                        {{each WatchHistory}}
                            <div class="col-50 card card-video" data-id="{{$value.id}}">
                                <div class="card-content">
                                    <div class="media" style="background-image: url({{$value.video_img}});"></div>
                                    <div class="showdom">
                                        <p class="summary-txt">{{$value.video_title}}</p>
                                        <div class="video-info">
                                            <div class="user-info">
                                                <div class="user-img avatar-female">
                                                    <img src="{{$value.user_head}}">
                                                </div>
                                                <p class="user-name">{{$value.user_name}}</p>
                                            </div>
                                            <div class="user-follow">
                                                <span class="tag-label praise">
                                                    {{if $value.support > 999}}
                                                        999+
                                                    {{else}}
                                                        {{$value.support}}
                                                    {{/if}}
                                                </span>
                                                <span class="tag-label eye">
                                                    {{if $value.watch_number > 999}}
                                                        999+
                                                    {{else}}
                                                        {{$value.watch_number}}
                                                    {{/if}}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    {{else}}
                        <p class="no-more">{{USER_WATCH.No_More}}</p>
                    {{/if}}
                </div>
                <!-- /.box-cards -->
            </div>
        </div>
    </div>
</div>