/* === Lists === */
.list {
    font-size: 0.6rem;
    font-weight: 400;
    line-height: 1.75rem;
    margin: 0;
    // padding: 0.4rem 0;
    padding: 0;
    list-style-type: none;
    text-decoration: inherit;
    letter-spacing: .00937rem;
    text-transform: inherit;
    color: rgba(0, 0, 0, .87);

    .list-item {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: flex-start;
        height: 2.4rem;
        padding: 0 $list-side-padding;
        overflow: hidden;

        &:focus {
            outline: none;
        }
    }

    .list-item-graphic{
        @include size(1.42rem);
        margin-right: 0.35rem;
    }

    .list-item-meta{
        margin-left: auto;
        margin-right: 0;
        @include size(1.1rem);
    }

    .list-item-meta-txt{
        margin-right: 0.35rem;
        color: $color-text-gray-light;
    }

    .list-item-text, .list-item-secondary {
        @include wrap-space;
        display: block;
    }

    &.list-two-line .list-item {
        height: 3.6rem;
    }

    &.list-message{
        // background: $list-user-bg-color;
        // margin-bottom: 0.35rem;
        overflow: hidden;

        .list-item-box{
            position: relative;
            background: $list-user-bg-color;
            margin-bottom: 0.35rem;

            &::-webkit-scrollbar {
                display: none;
            }

            // &:after {
            //     content: "";
            //     height: 1px;
            //     background: $list-message-border-color;
            //     position: absolute;
            //     left: 3.25rem;
            //     right: 0.8rem;
            //     bottom: 0;
            // }

            &:last-of-type{
                margin-bottom: 0.35rem;
                // &:after {
                //     height: 0;
                // }
            }

            &.active{
                .list-item{
                    transform: translateX(-4.9rem);
                }
                .btn-delete{
                    transform: translateX(0);
                }
            }
        }

        .list-item{
            padding: 0.4rem 0.8rem;
            box-sizing: content-box;
            @include transition(all .3s);
        }

        .list-item-graphic{
            @include size(2.1rem);
            flex: 0 0 2.1rem;
            &.image{
                background-size: cover;
                border-radius: 50%;
                background-position: center;
                background-repeat: no-repeat;
                background-color: $list-message-text;
            }
        }

        .list-item-text{
            color: $list-message-text;
            font-size: 0.6rem;
            line-height: 1rem;
            height: 2rem;
            flex-grow: 1;
        }

        .list-item-secondary{
            font-size: 0.5rem;
            color: $list-message-text-secondary;
        }

        .list-item-meta-txt{
            font-size: 0.5rem;
            align-self: flex-start;
            margin-right: 0;
        }

        .list-item-meta{
            width: auto;
            height: auto;
            line-height: initial;
            min-width: 0.4rem;
            position: absolute;
            right: 1rem;
            bottom: 0.6rem;
            background: $list-message-meta-color;
            color: $list-message-text;
            border-radius: 0.7rem;
            font-size: 0.35rem;
            line-height: 0.7rem;
            text-align: center;
            padding: 0 0.2rem;
        }

        .btn-delete{
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            width: 4.9rem;
            text-align: center;
            color: $color-text;
            background: $list-message-meta-color;
            box-shadow: 0.1rem 0 0.3rem rgba(0, 0, 0, 0.2) inset;
            font-size: 0.75rem;
            line-height: 3.3rem;
            transform: translateX(4.9rem);
            @include transition(all .3s);
        }
    }

    &.list-comments{
        margin-bottom: 0.35rem;

        .list-item{
            padding: 1rem 0 0.4rem;
            box-sizing: content-box;
            align-items: start;
            height: auto;

            &:first-of-type {
                padding-top: 0.4rem;
            }

            &:after {
                content: "";
                height: 1px;
                background: $actions-modal-color-split;
                position: absolute;
                left: 1.75rem;
                right: 0;
                bottom: 0;
            }
        }

        .list-item-graphic{
            @include size(1.4rem);
            flex: 0 0 1.4rem;

            &.image{
                background-size: cover;
                border-radius: 50%;
                background-position: center;
                background-repeat: no-repeat;
                background-color: $color-text-gray-light;
            }
        }

        .list-item-text{
            color: $color-text-gray-light;
            font-size: 0.4rem;
            line-height: 1rem;
            flex: 1 0 0;
        }

        .list-item-secondary{
            font-size: 0.6rem;
            color: $color-text-gray;
            white-space: normal;
        }
    }

    &.list-user{
        background: $list-user-bg-color;
        margin-bottom: 0.35rem;
        position: relative;

        .list-item{
            &:after {
                content: "";
                height: 1px;
                background: $list-user-border-color;
                position: absolute;
                left: 2.55rem;
                right: 0.8rem;
                bottom: 0;
            }

            &:last-of-type{
                &:after {
                    height: 0;
                }
            }
        }

        .list-item-graphic{
            &.image{
                @include size(2.1rem);
                flex: 0 0 2.1rem;
                background-size: cover;
                border-radius: 50%;
                background-position: center;
                background-repeat: no-repeat;
                background-color: $list-message-text;
            }
        }

        .list-item-text{
            color: $color-text;
            flex-grow: 1;
        }

        .list-item-meta{
            width: 0.35rem;
            height: 0.7rem;
        }
    }

    &.list-favorite{
        background: none;

        >li {
            position: relative;

            &:after {
                content: "";
                height: 1px;
                background: #444;
                position: absolute;
                left: 3.25rem;
                right: 0.8rem;
                bottom: 0;
            }

            &:last-of-type{
                &:after {
                    height: 0;
                }
            }
        }

        .list-item{
            height: 3.2rem;
        }

        .btn-follow{
            width: auto;
            min-width: 2.8rem;
            height: 1.4rem;
            line-height: 1.4rem;
            background: $color-primary;
            color: $color-text-gray;
            font-size: 0.5rem;
            text-align: center;
            border-radius: 0.1rem;
            padding: 0 0.35rem;
            position: absolute;
            right: 0.8rem;
            top: 0.9rem;

            &.active{
                background: $card-bg;
                color: $color-text;
            }
        }
    }

    &.list-info{
        padding: 0;

        >li.list-info-item{

            >.list-info-text{
                background: #656A78;
                color: #C2C2C2;
                font-size: 0.5rem;
                padding: 0.35rem 0.7rem;
                line-height: 1.5;
            }
        }

        .list-item{
            // padding: 0;
            // margin: 0 0.8rem;
            border-bottom: 1px solid $list-user-border-color;

            &:last-of-type{
                border-width: 0;
            }

            &.user-avatar{
                height: 3.2rem;
            }
        }

        .list-item-graphic{
            margin-right: 0;
            @include size(2.1rem);

            > .user-img{
                @include size(2.1rem);
            }
        }

        &.no-bg {
            border-bottom: 1px solid $list-user-border-color;
        }
    }

}

.list-table {
    >.item {
        @include spindle-center(start);
        padding: 0.35rem 0;
        font-size: 0.6rem;
        min-height: 2rem;
        line-height: 1rem;

        &.line {
            border-bottom: 0.05rem solid $bar-color-split;
        }
    }

    .item-label {
        flex: 0 0 4.2rem;
        color: $color-text-gray-light;
    }

    .item-control {
        flex: 1 0 0;
        color: $color-text;
    }
}