//
// Variables
// --------------------------------------------------

// Type
// --------------------------------------------------
$font-family-default: "PingFang-SC-Bold", Helvetica, sans-serif;
$font-size-default: 0.85rem;
$font-weight: 500;
$font-weight-light: 400;
$line-height-default: 1.05rem;
//img
$imgBaseUrl: "../img";
// Colors
// --------------------------------------------------


// 主色
$color-primary: rgba(255,221,51,1);//#FFDD33
$color-danger: rgba(246,64,51,1);//#F64033
$color-warning: rgba(255,102,0,1);//#f60
$color-success: rgba(31,201,105,1);//#1FC969
$color-gray: rgba(136,136,136,1);//#888
$color-blue: rgba(75,133,250,1);//#4B85FA
$color-primary-active: transparentize($color-primary, 0.2);
$color-danger-active: transparentize($color-danger, 0.2);
$color-warning-active: transparentize($color-warning, 0.2);
$color-success-active: transparentize($color-success, 0.2);
$color-gray-active: transparentize($color-gray, 0.2);
$color-split: #383840;
$color-gift-txt: #FC496A;
$color-money: $color-gift-txt;
//分割线的颜色
$color-bg: #383840;
$color-text: #fff;
$color-black: #000;
//文案色
$color-text-active: #ff00ff;
$color-text-remarks: #B2B2B2;
$color-text-secondary: #999;
//次级文案

$color-text-gray: #333;
//灰色文案
$color-text-gray-light: #888;
//更灰色文案
$color-more-gray: #ccc;
//链接色
$color-link: $color-primary;
//链接色有可能不同于主色
$color-link-active: $color-primary-active;
//链接色有可能不同于主色

// Bars
// --------------------------------------------------
$bar-bg-color: #2D2D32;
$bar-gradient-color-left: #313443;
$bar-gradient-color-right: #535969;
$bar-item-color: $color-text-gray-light;
$bar-base-height: 2.2rem;
$bar-tab-height: 2.5rem;
$bar-side-spacing: 0.5rem;
$bar-user-height: 7rem;

// Cards
// --------------------------------------------------
$card-bg: #535969;
$card-border-color: #fff;

// Tags
//---------------------------------------------------
$tag-border-width: 1px;
$tag-border-color: #fff;
$tag-border-default: $tag-border-width solid $tag-border-color;
$tag-border-radius: 0.7rem;
$tag-txt-color: #fff;
$tag-bg-color: transparent;
$tag-bg-color-active: #4E87FA;
$tag-recharge-border-default: $tag-border-width solid $color-text-gray-light;

// Modal
// ---------------------------------------------------
$modal-bg-color: #3D4150;
$modal-close-color: $color-text-secondary;
$modal-buton-color: $modal-bg-color;
$modal-buton-bg: $color-primary;
$modal-buton-active-bg: #d4d4d4;
$modal-duration: 400ms;
$modal-border-radius: 0.1rem;
$modal-input-bg-color: #2C2C33;
$modal-input-text-color: #666;
$actions-modal-bg-color: $color-text;
$actions-modal-title-color: $color-text-gray;
$actions-modal-duration: 300ms;
$actions-modal-border-radius: 0.2rem 0.2rem 0 0;
$actions-modal-color-split: #F1F1F1;
$popup-bg-color: $color-text-gray;
$popup-gradient-color-top: #313443;
$popup-gradient-color-bottom: #535969;
$popup-duration: 400ms;
$picker-text-color: #B2B2B2;
$picker-text-color-active: $color-text;

// Buttons
// --------------------------------------------------
$btn-font-size: 0.75rem;
$btn-height: 2.1rem;
$btn-big-height: 2.4rem;
$btn-border-radius: 0.1rem;
$btn-primary-txt-color: $color-text-gray;
$btn-fill-border-radius: 0.75rem;

// Transitions
// --------------------------------------------------
$timing-fuction: cubic-bezier(.1, .5, .1, 1);
// Inspired by $c2prods

// Borders
// --------------------------------------------------
$border-default-width: 1px;
$border-default-color: $color-split;
$border-default: $border-default-width solid $border-default-color;
$border-radius: 0.3rem;

// Lists
// ----------------------------------------------------
$list-block-border-color: $color-split;
$list-block-bg: #fff;
$list-side-padding: 0.8rem;
$list-user-bg-color: #535969;
$list-user-border-color: #666;
$list-message-text: $color-text;
$list-message-text-secondary: #B2B2B2;
$list-message-meta-color: #FF5E5E;
$list-message-border-color: #666;

// Forms
// ---------------------------------------------------
$form-group-margin-bottom: 1.05rem;
$input-height-base: 1.5rem;
$padding-base-horizontal: 0.3rem;
$font-size-base: 0.6rem;
$line-height-base: 1.42857143;
$input-color: $color-text;
$input-label-color: #B2B2B2;
$input-bg: transparent;
$input-border: 1px solid #666;

// live
// ---------------------------------------------------
$live-mask-bg-color: rgba(51, 51, 51, 0.2);//#333
$live-anchor-txt-color: #FF3376;
$live-bg-color: $color-text-gray;
$live-duration: 400ms;
$live-btnRecord-bg-color: rgba(255, 255, 255, 0.7);
$live-btnRecord-color: $color-primary;
$live-btnRecordEnd-color: #FF5E5E;
$live-upload-bg-color: #535969;
$live-upload-duration: 200ms;
// Theme-black
// ---------------------------------------------------
// Modal
// ---------------------------------------------------
$theme-actions-modal-bg-color: #535969;
$theme-actions-modal-title-color: $color-text;
$theme-actions-modal-color-split: #666;