@mixin newline {
    word-wrap: break-word;
    word-break: break-all;
}

@mixin wrap-space {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin scrollable {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

@mixin clearfix {
    &:before, &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }

}

@mixin justify-content($jc){
    @if $jc == flex-start {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
    }
    @else if $jc == flex-end {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        -webkit-justify-content: flex-end;
        justify-content: flex-end;
    }
    @else if $jc == space-between {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        -webkit-justify-content: space-between;
        justify-content: space-between;
    }
    @else {
        -webkit-box-pack: $jc;
        -ms-flex-pack: $jc;
        -webkit-justify-content: $jc;
        justify-content: $jc;
    }
}

@mixin hairline($position, $color) {
    @if $position==top {
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            bottom: auto;
            right: auto;
            height: 1px;
            width: 100%;
            background-color: $color;
            display: block;
            z-index: 15;
            transform-origin: 50% 0%;

            @media only screen and (-webkit-min-device-pixel-ratio:2) {
                transform: scaleY(0.5);
            }

            @media only screen and (-webkit-min-device-pixel-ratio:3) {
                transform: scaleY(0.33);
            }

        }

    }
    @else if $position == left {
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            bottom: auto;
            right: auto;
            width: 1px;
            height: 100%;
            background-color: $color;
            display: block;
            z-index: 15;
            transform-origin: 0% 50%;

            @media only screen and (-webkit-min-device-pixel-ratio:2) {
                transform: scaleY(0.5);
            }

            @media only screen and (-webkit-min-device-pixel-ratio:3) {
                transform: scaleY(0.33);
            }

        }

    }
    @else if $position = bottom{
        &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            right: auto;
            top: auto;
            height: 1px;
            width: 100%;
            background-color: $color;
            display: block;
            z-index: 15;
            transform-origin: 50% 100%;
            @media only screen and (-webkit-min-device-pixel-ratio: 2) {
                transform: scaleY(0.5);
            }
            @media only screen and (-webkit-min-device-pixel-ratio: 3) {
                transform: scaleY(0.33);
            }
        }
    }
    @else{
        &:after {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            left: auto;
            bottom: auto;
            width: 1px;
            height: 100%;
            background-color: $color;
            display: block;
            z-index: 15;
            transform-origin: 100% 50%;
            @media only screen and (-webkit-min-device-pixel-ratio: 2) {
                transform: scaleY(0.5);
            }
            @media only screen and (-webkit-min-device-pixel-ratio: 3) {
                transform: scaleY(0.33);
            }
        }
    }

}

@mixin hairline-remove($position){
    @if $position!=left and $position!=top{
        &:after {
            display: none;
        }
    }
    @else if $position!=right and $position!=bottom{
        &:before {
            display: none;
        }
    }
}

@mixin size($num) {
    width: $num;
    height: $num;
}

@mixin ImageBox($name) {
    background-image: url("#{$imgBaseUrl}/#{$name}.png");
    background: image-set(url("#{$imgBaseUrl}/#{$name}.png") 1x, url("#{$imgBaseUrl}/#{$name}@2x.png") 2x) center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

@mixin reset {
    margin: 0;
    padding: 0;
    font-size: 100%;
    line-height: 1;
    width: auto;
    height: auto;
    box-sizing: initial;
}