<!-- 评论 News -->
<script id="live_news" type="text/html">
    <div class="actions-modal-group news-group">
        <textarea class="news-input" rows="1"></textarea>
        <div class="news-phiz"><i class="icon modals-phiz"></i></div>
        <div class="button button-primary btn-send">{{LIVE_PREVIEW.Actions.Send}}</div>
    </div>
</script>

<!-- 留言 Comment -->
<script id="live_comments" type="text/html">
    <div class="actions-modal-group comments-group">
        <ul class="list list-comments">
            {{if CommentList}}
                {{each CommentList}}
                <li class="list-item">
                    <span class="list-item-graphic image" style="{{if $value.user_head}} background-image: url({{$value.user_head}}); {{/if}}"></span>
                    <span class="list-item-text">{{$value.user_name}}
                        <span class="list-item-secondary">{{$value.comment_content}}</span>
                    </span>
                </li>
                {{/each}}
            {{/if}}
        </ul>
        <p class="no-more">{{PUBLIC.No_More}}</p>
    </div>
    <div class="actions-modal-group news-group comments-forms">
        <textarea class="news-input" rows="1"></textarea>
        <div class="news-phiz"><i class="icon modals-phiz"></i></div>
        <div class="button fill-gray btn-send">{{LIVE_PREVIEW.Actions.Send}}</div>
    </div>
</script>

<!-- 分享 Share to closeBtn-->
<script id="live_share" type="text/html">
    <div class="actions-modal-group share-group">
        <div class="tag tag-share">
            <label class="share-label btn-fecebook" data-ripple>
                <i class="icon modals-fecebook"></i>
                <span>{{LIVE_PREVIEW.Share.Facebook}}</span>
            </label>
            <label class="share-label btn-twitter" data-ripple>
                <i class="icon modals-Twitter"></i>
                <span>{{LIVE_PREVIEW.Share.Twitter}}</span>
            </label>
            <label class="share-label btn-tumblr" data-ripple>
                <i class="icon modals-tumblr"></i>
                <span>{{LIVE_PREVIEW.Share.Tumblr}}</span>
            </label>
        </div>
    </div>
</script>

<!-- 礼物 Gift close-->
<script id="live_gift" type="text/html">
    <div class="actions-modal-group gift-wrapper">
        {{if GiftList}}
            <div class="gift-content">
                <div class="tag gift-item">
                {{each GiftList}}
                    {{if ($index > 7) && (($index % 8) == 0) }} <div class="tag gift-item"> {{/if}}
                    <label class="gift-label {{if $value.gifts_price == 0 }} active {{/if}}" data-id="{{$value.id}}" data-price="{{$value.gifts_price}}" data-gift-url="{{$value.gifts_url}}" data-ripple>
                        <i class="icon" style="{{if $value.gifts_url}} background-image: url({{$value.gifts_url}}); {{/if}}"></i>
                        <p class="name">{{$value.gifts_name}}</p>
                        <p>{{$value.gifts_price}} {{LIVE_PREVIEW.Actions.Coins}}</p>
                    </label>
                    {{if ($index > 0) && (($index % 7) == 0) }} </div> {{/if}}
                {{/each}}
                </div>
            </div>
        {{/if}}
    </div>
    <div class="actions-modal-group gift-group">
        <div class="recharge-box">
            <div class="button fill-recharge btn-recharge" data-ripple>{{LIVE_PREVIEW.Actions.Recharge}}</div>
            <p><span>{{LIVE_PREVIEW.Actions.Account}}</span><font class="user-package">{{UserInfoList.userPackage}}</font> {{LIVE_PREVIEW.Actions.Coins}}</p>
        </div>
        <div class="button button-primary btn-send" data-ripple>{{LIVE_PREVIEW.Actions.Send}}</div>
    </div>
</script>

<!-- 充值 Recharge close-->
<script id="live_recharge" type="text/html">
    <div class="actions-modal-group recharge-group">
        <p class="recharge-label">
            <span>{{LIVE_PREVIEW.Recharge.Select_Amount}}</span>
            <span class="money">{{LIVE_PREVIEW.Actions.Account}}<font class="user-package">{{UserInfoList.userPackage}}</font> {{LIVE_PREVIEW.Actions.Coins}}</span>
        </p>
        <div class="tag tag-recharge">
            {{if AllGoodsList}}
                {{each AllGoodsList}}
                    <label class="recharge-label {{if $index == 0}}active{{/if}}" data-id="{{$value.id}}" data-currency="USD" data-ripple>
                        <p class="cost">{{$value.title}} {{LIVE_PREVIEW.Actions.Coins}}</p>
                        <p>{{$value.total_price}}</p>
                    </label>
                {{/each}}
            {{/if}}
        </div>
    </div>
    <div class="actions-modal-group recharge-group">
        <div id="paypal-button" class="button-paypal hide"></div>
        <div id="credit-card-button" class="button button-primary" data-ripple>{{USER_ACCOUNT.Buttons}}</div>
    </div>
</script>

<!-- 余额不足 Insufficient Amount -->
<script id="live_amount" type="text/html">
    <div class="actions-modal-group recharge-group">
        <p class="amount-label">{{LIVE_PREVIEW.Madal.InsufficientAmount.Text}}</p>
        <div class="buttons">
            <div class="button fill-primary btn-cancel" data-ripple>{{PUBLIC.ModalButtonCancel}}</div>
            <div class="button button-primary btn-pass" data-ripple>{{PUBLIC.ModalButtonOk}}</div>
        </div>
    </div>
</script>