<script id="list_cards" type="text/html">
    {{each data}}
        <div class="col-50 card card-list">
            <div class="card-content">
                <div class="media" style="background-image: url({{$value.everyday_img}});"></div>
                <div class="showdom">
                    <span class="tag-label">{{$value.live_price}}/{{PUBLIC.Billing}}</span>
                    {{if $value.status == 1}}
                        <span class="tag-label busy">{{PUBLIC.Status.Busy}}</span>
                    {{else if $value.status == 3}}
                        <span class="tag-label waiting">{{PUBLIC.Status.Waiting}}</span>
                    {{/if}}
                </div>
            </div>
            <div class="card-foot">
                <div class="user-img">
                    <img src="{{$value.user_head}}">
                </div>
                <div class="foot-info">
                    <h3 class="name">
                        {{$value.user_name}}
                    </h3>
                    <p class="txt">{{$value.heat}} {{PUBLIC.Status.Heat}}</p>
                </div>
            </div>
        </div>
    {{/each}}
</script>

<script id="list_cards" type="text/html">
    {{each data}}
        <div class="col-50 card card-video">
            <div class="card-content" data-id="{{$value.id}}">
                <div class="media" style="background-image: url({{$value.video_img}});"></div>
                <div class="showdom">
                    <p class="summary-txt">{{$value.video_new_name}}</p>
                    <div class="video-info">
                        <div class="user-info">
                            <div class="user-img">
                                <img src="{{$value.user_head}}">
                            </div>
                            <p class="user-name">{{$value.user_name}}</p>
                        </div>
                        <div class="user-follow">
                            <span class="tag-label praise">
                                {{if $value.support > 999}}
                                    999+
                                {{else}}
                                    {{$value.support}}
                                {{/if}}
                            </span>
                            <span class="tag-label eye">
                                {{if $value.watch_number > 999}}
                                    999+
                                {{else}}
                                    {{$value.watch_number}}
                                {{/if}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
</script>