<script id="list_cards" type="text/html">
    <div class="col-50 card card-list" data-user-id="{{CardsList.user_id}}">
        <div class="card-content">
            <div class="media" style="background-image: url({{CardsList.everyday_img}});"></div>
            <div class="showdom">
                <span class="tag-label">{{CardsList.live_price}}/{{PUBLIC.Billing}}</span>
                {{if CardsList.status == 1}}
                    <span class="tag-label busy">{{PUBLIC.Status.Busy}}</span>
                {{else if CardsList.status == 3}}
                    <span class="tag-label waiting">{{PUBLIC.Status.Waiting}}</span>
                {{/if}}
            </div>
        </div>
        <div class="card-foot">
            <div class="user-img avatar-female">
                <img src="{{CardsList.user_head}}">
            </div>
            <div class="foot-info">
                <h3 class="name">
                    {{CardsList.user_name}}
                </h3>
                <p class="txt">{{CardsList.heat}} {{PUBLIC.Status.Heat}}</p>
            </div>
        </div>
    </div>
</script>

<script id="list_videos" type="text/html">
    <div class="col-50 card card-video">
        <div class="card-content" data-id="{{VideosList.id}}">
            <div class="media" style="background-image: url({{VideosList.video_img}});"></div>
            <div class="showdom">
                <p class="summary-txt">{{VideosList.video_new_name}}</p>
                <div class="video-info">
                    <div class="user-info">
                        <div class="user-img avatar-female">
                            <img src="{{VideosList.user_head}}">
                        </div>
                        <p class="user-name">{{VideosList.user_name}}</p>
                    </div>
                    <div class="user-follow">
                        <span class="tag-label praise">
                            {{if VideosList.support > 999}}
                                999+
                            {{else}}
                                {{VideosList.support}}
                            {{/if}}
                        </span>
                        <span class="tag-label eye">
                            {{if VideosList.watch_number > 999}}
                                999+
                            {{else}}
                                {{VideosList.watch_number}}
                            {{/if}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script id="free_videos_header" type="text/html">
    <div class="col-100 cards-header video-header">
        <p>{{HOME.Video.Free.Title}}</p>
        <p class="refresh">{{HOME.Video.Free.More}}</p>
    </div>
</script>

<script id="videos_header" type="text/html">
    <div class="col-100 cards-header video-header">
        <p>{{HOME.Video.Exciting.Title}}</p>
    </div>
</script>