<!-- small video list -->
<script id="list_videos_item" type="text/html">
    <div class="col-50 card card-video" data-user-info="{{VideosList}}">
        <div class="card-content">
            {{if HeaderVideos}}
            <div class="card-video-header">
                {{if VideosList.type == 1}}
                    <span class="status-label free">{{PUBLIC.Free}}</span>
                {{else if VideosList.type == 2}}
                    <span class="tag-label">{{VideosList.price}} {{PUBLIC.Billing}}</span>
                {{/if}}
            </div>
            {{/if}}
            <div class="media" style="background-image: url({{VideosList.img_url}});"></div>
            <div class="showdom">
                <p class="summary-txt">{{VideosList.video_description}}</p>
                <div class="video-info">
                    <div class="user-info">
                        <div class="user-img avatar-female">
                            <img src="{{VideosList.user_head}}">
                        </div>
                        <p class="user-name">{{VideosList.user_name}}</p>
                    </div>
                    <div class="user-follow">
                        <span class="tag-label praise">
                            {{if VideosList.support > 999}}
                                999+
                            {{else}}
                                {{VideosList.support}}
                            {{/if}}
                        </span>
                        <span class="tag-label eye">
                            {{if VideosList.watch_number > 999}}
                                999+
                            {{else}}
                                {{VideosList.watch_number}}
                            {{/if}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>


<script id="list_my_add_item" type="text/html">
    <div class="col-50 card card-video video-add-card">
        <div class="card-content">
            <div class="icon-box">
                <i class="icon user-add-video"></i>
            </div>
            <p class="add-title">{{USER_VIDEO.Add_Title}}</p>
            <p class="text">{{USER_VIDEO.Add_Text}}</p>
        </div>
    </div>
</script>

<!-- small video list -->
<script id="list_my_videos_item" type="text/html">
    <div class="col-50 card card-video" data-id="{{VideosList.id}}" data-url="{{VideosList.video_url}}">
        <div class="card-content">
            <div class="card-video-header">
                {{if VideosList.status == 1}}
                    <span class="status-label review">{{PUBLIC.Review}}</span>
                {{else if VideosList.status == 2}}
                    {{if VideosList.type == 1}}
                        <span class="status-label free">{{PUBLIC.Free}}</span>
                    {{else if VideosList.type == 2}}
                        <span class="tag-label">{{VideosList.price}} {{PUBLIC.Billing}}</span>
                    {{/if}}
                {{else if VideosList.status == 3}}
                    <span class="status-label refuse">{{PUBLIC.Refuse}}</span>
                {{/if}}
                <i class="icon user-close-video btn-close-video"></i>
            </div>
            <div class="media" style="background-image: url({{VideosList.img_url}});"></div>
            <div class="showdom">
                <p class="summary-txt">{{VideosList.video_description}}</p>
                <div class="video-info">
                    <p class="video-time">{{VideosList.create_time | dateFormat 'YYYY-MM-DD'}}</p>
                    <div class="user-follow">
                        <span class="tag-label praise">
                            {{if VideosList.support > 999}}
                                999+
                            {{else}}
                                {{VideosList.support}}
                            {{/if}}
                        </span>
                        <span class="tag-label eye">
                            {{if VideosList.watch_number > 999}}
                                999+
                            {{else}}
                                {{VideosList.watch_number}}
                            {{/if}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>